body {
  background-image: linear-gradient(45deg,#88f888,#f7b6b6);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 600px;
  text-align: center;
}
.buttons {
  margin-top: 20px;
}
.button {
  font-size: 24px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9dccf8;
  color: #000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.button i {
  margin-left: 8px;
}
@media (max-width: 600px) {
  .button {
      width: 100%;
      margin: 5px 0;
      padding: 15px;
  }
}
