@media (min-width: 300px) {
  body {
  }
}

#hero {
  width: 100%;
  background: url("../../assets/img/map-image.png") center / cover no-repeat;
  height: 100vh;
  filter: brightness(102%) contrast(98%);
  margin: 0px;
  padding: 0px;
}

body {
}

